APP_ENV=development

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=<your_postgres_username>
DATABASE_PASSWORD=<your_postgres_password>
DATABASE_NAME=<your_postgres_database_name>
DATABASE_SSLMODE=disable